<div class="main-column">
  <div class="search">
    <mat-form-field style="width: 85%">
      <input matInput placeholder="Search documents" class="for-input" [formControl]="myControl" #input
        [matAutocomplete]="auto">
      <mat-hint>{{hint}} </mat-hint>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="buttons" mat-raised-button (click)="Search()">Search</button>
  </div>

  <div class="for-buttons">
    <button mat-raised-button (click)="addNewDocument()">Add new</button>
    <button mat-raised-button (click)="deleteDocuments()" [disabled]="!selection.hasValue()">Delete</button>
  </div>

  <div class="main-container">
    <div class="table example-container">
      <table mat-table (matSortChange)="onSortChange($event)" [dataSource]="dataSource" class="sticky" matSort>

        <ng-container matColumnDef="Select">
          <th mat-header-cell *matHeaderCellDef class="checkColumn">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected() "
              [indeterminate]="selection.hasValue() && !isAllSelected()  ">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element" class="checkColumn">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null; getDocument(element.Id);"
              [checked]="selection.isSelected(element) ? true: false">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="IsFavourite">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let element ;" class="checkColumn"> <img class="img-responsive" [src]="element.IsFavourite ? yellow : white"
              (click)="chooseActionWithFavouriteDoc(element)"> </td>
        </ng-container>

        <ng-container matColumnDef="Name" id="rowElement nameElement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameColumn"> Name </th>
          <td mat-cell *matCellDef="let element " id="specRow" class="nameColumn">
            {{element.Name}}.{{element.Type}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="descriptionColumn"> Description </th>
          <td mat-cell *matCellDef="let element" class="descriptionColumn">
            <!-- {{transformDescription(element.Description)}} </td> -->
            {{element.Description}}</td>>
        </ng-container>

        <ng-container matColumnDef="Author">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameColumn"> Author </th>
          <td mat-cell *matCellDef="let element" class="nameColumn"> {{element.Author}} </td>
        </ng-container>

        <ng-container matColumnDef="CreateDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameColumn"> CreateDate </th>
          <td mat-cell *matCellDef="let element" class="nameColumn"> {{element.CreateDate | localizedDate}} </td>
        </ng-container>

        <ng-container matColumnDef="ModifiedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameColumn"> ModifiedDate </th>
          <td mat-cell *matCellDef="let element" class="nameColumn"> {{element.ModifiedDate| localizedDate }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; " draggable="true" (dragstart)="handleDragStart($event,row)"
          (dragend)="handleDragEnd($event)" class="pointer rows "></tr>
      </table>

      <mat-paginator *ngIf="paginator" [length]="paginator.TotalCount" [pageSize]="paginator.PageSize" [pageIndex]="paginator.PageNumber"
        [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
      </mat-paginator>
    </div>

    <div>
      <div (drop)="handleDrop($event);" (dragover)="handleDragOver($event)" (dragenter)="handleDragEnter($event)"
        (dragleave)="handleDragLeave($event)" class="update-block" id="update-block" #inputUpdate>
        <div class="data">
          <h3>Update your document</h3>
          <label>Name</label>
          <div>
            <mat-form-field class="input-field">
              <input matInput [(ngModel)]="updName" value="updName" [disabled]="!selection.hasValue()  && !dropElement ">
            </mat-form-field>
          </div>
          <label>Description</label>
          <div>
            <mat-form-field class="input-field">
              <textarea matInput [(ngModel)]="updDescription" value="updDescription" [disabled]="!selection.hasValue()  && !dropElement "
                rows="5"></textarea>
            </mat-form-field>
          </div>

          <label>Author</label>
          <div>
            <mat-form-field class="input-field">
              <input matInput [(ngModel)]="updAuthor" value="updAuthor" [disabled]="!selection.hasValue() && !dropElement">
            </mat-form-field>
          </div>

          <label>Create date</label>
          <div>
            <mat-form-field class="input-field">
              <input matInput [(ngModel)]="updCreateDate" value="updCreateDate" [disabled]=true>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" (click)="updateDocument()" [disabled]="!updatePossibility ">
            Save
          </button>
          <button mat-raised-button [disabled]=" !updatePossibility " (click)="cancelUpdate()"> Reject
          </button>
        </div>
      </div>
    </div>
  </div>
</div>