<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <div class="window">

        <form class="example-form" #loginForm="ngForm" (ngSubmit)="OnSubmit(loginForm)">
          <h1>Sign In</h1>
          <mat-form-field class="containerUpdate">
            <input matInput type="text" placeholder="Your username" #Email ngModel name="login" placeholder="Username"
              required>
          </mat-form-field>
          <mat-form-field class="containerUpdate">
            <input matInput type="password" placeholder="Enter Password" #Password ngModel name="password" placeholder="Password"
              required>
          </mat-form-field>

          <div>
            <span>
              <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">
                Submit
              </button>
            </span>
          </div>
        </form>

      </div>
      <a class="window registration" routerLink="/signup">
        Create an Account
      </a>
    </mat-card-content>
  </mat-card>
</div>