.for-input{
    display: flex;
    width: 80%; 
    justify-content: left;   
}
.search{
    display: flex ;
    width: 80%;
    /* justify-content: space-around; */
    background: red;
}
table{
    width: 100%;
}
.for-buttons{       
    display: flex;
    justify-content: flex-end ;    
}
td,th {
    width: 25%;
}
.buttons{
    padding: 5%;
}
.paginator{
    display: flex;
    justify-content: flex-end;
}

.inputSearch{
    width: 100%;

}
.inputPage{
    width: 20px;
}