table{
    width: 100%
}
.for-buttons{       
    display: flex;
    justify-content: flex-end ;    
}


td,th {
    width: 30%;
}
.fixed{
    width: 200px !important
    }

  .table {
    overflow-x:scroll;
      }

  .headcol1 {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
      }
      .example-container {
        height: 400px;
        overflow: auto;
      }