<table mat-table [dataSource]="dataSource" #mytable>
  <ng-container matColumnDef="Favourite">
    <th mat-header-cell *matHeaderCellDef> Favourite </th>
    <td mat-cell *matCellDef="let element"> <img class="img-responsive" src='assets/yellowStar.png' #mytable (click)="deleteFromFavourite(element.Id,id,row)"></td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
  </ng-container>

  <ng-container matColumnDef="Author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let element"> {{element.Author}} </td>
  </ng-container>

  <ng-container matColumnDef="CreateDate">
    <th mat-header-cell *matHeaderCellDef> CreateDate </th>
    <td mat-cell *matCellDef="let element"> {{element.CreateDate | localizedDate}} </td>
  </ng-container>

  <ng-container matColumnDef="ModifiedDate">
    <th mat-header-cell *matHeaderCellDef> ModifiedDate </th>
    <td mat-cell *matCellDef="let element"> {{element.ModifiedDate| localizedDate }} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="myTable"></tr>
</table>