.add-document{
display: flex;
flex-direction: column;
}
.add-document-fileds{
width: 250px;
}
.text-header{
    text-align: center;
    font-weight: 500;
    margin-bottom: 5%;
}
.addSuccessfully{
    text-align: center;
    font-weight: 200;
    margin-top: 5%;
}
input.ng-touched.ng-invalid {
border-bottom: 0.5px solid red;
}
input.ng-touched.ng-valid {
    border-bottom: 0.5px solid red;
}