<div class="add-document">
  <div class="text-header">Enter data for creating document</div>
  <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">

    <mat-form-field class="add-document-fileds">
      <input matInput placeholder="File name" [(ngModel)]="name" name="nameFile" required pattern="[A-Za-z0-9]{1,}">
    </mat-form-field>

    <mat-form-field class="add-document-fileds">
      <mat-select placeholder="Type " [(ngModel)]="valueType" name="typeFile" required>
        <mat-option *ngFor="let type of types" [value]="type.valueType">
          {{type.valueType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="add-document-fileds">
      <textarea matInput placeholder="Description" [(ngModel)]="description" name="descriptionFile" required pattern="[A-Za-z0-9]{1,}"></textarea>
    </mat-form-field>

    <mat-form-field class="add-document-fileds">
      <input matInput placeholder="Author" [(ngModel)]="author" name="authorFile" required pattern="[A-Za-z]{1,}">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid" class="add-document-fileds">Add
      document</button>

    <div *ngIf="addSuccessfully" class="addSuccessfully">You successfully created document</div>
  </form>
</div>