mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.example-form {
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    display: flex;
    flex-direction: column;
  }

 .window {
    display: flex;
    justify-content: center;
    padding: 60px 1rem;
  } 
.example-container > * {
    width: calc(100%/3);
  }
  
.containerUpdate {
    width: 100%;
  }
  
