<div class="window">

  <mat-card>
    <mat-card-content>
      <form class="example-form" #loginForm="ngForm">
        <h1>Sign up</h1>
        <mat-form-field class="containerUpdate">
          <input matInput type="text" placeholder="Your first name" #FirstName ngModel name="Registration" placeholder="First name"
            required>
        </mat-form-field>
        <mat-form-field class="containerUpdate">
          <input matInput type="text" placeholder="Your last name" #LastName ngModel name="login" placeholder="Last name"
            required>
        </mat-form-field>
        <mat-form-field class="containerUpdate">
          <input matInput type="text" placeholder="Your username" #Email ngModel name="login" placeholder="Username"
            required>
        </mat-form-field>
        <mat-form-field class="containerUpdate">
          <input matInput type="password" placeholder="Enter Password" #Password ngModel name="password" placeholder="Password"
            required>
        </mat-form-field>

        <div>
          <span>
            <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">
              Confirm
            </button>
          </span>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>